$cols: 12;
$gap: 16px;

.col {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;
}

// xs
@include xs-up {
  [class^="col-"] {
    grid-column: auto / span 12;
  }

  @for $i from 1 through $cols {
    .col-xs-#{$i} {
      grid-column: auto / span #{$i};
    }

    .push-xs-#{$i} {
      position: relative;
      left: calc(#{percentage(1 / $cols * $i)} + #{$gap / ($cols - 1) * $i});
    }
  }
}

// sm
@include sm-up {
  @for $i from 1 through $cols {
    .col-sm-#{$i} {
      grid-column: auto / span #{$i};
    }

    .push-sm-#{$i} {
      position: relative;
      left: calc(#{percentage(1 / $cols * $i)} + #{$gap / ($cols - 1) * $i});
    }
  }
}

// md
@include md-up {
  @for $i from 1 through $cols {
    .col-md-#{$i} {
      grid-column: auto / span #{$i};
    }

    .push-md-#{$i} {
      position: relative;
      left: calc(#{percentage(1 / $cols * $i)} + #{$gap / ($cols - 1) * $i});
    }
  }
}

// lg
@include lg-up {
  @for $i from 1 through $cols {
    .col-lg-#{$i} {
      grid-column: auto / span #{$i};
    }

    .push-lg-#{$i} {
      position: relative;
      left: calc(#{percentage(1 / $cols * $i)} + #{$gap / ($cols - 1) * $i});
    }
  }
}
