.country-data {
  grid-column: 1 / 1;
  grid-row: 3 / 4;

  img {
    height: 1em;
    border-radius: 4px;
    vertical-align: middle;
  }

  label {
    display: block;
    font-size: 14px;
    color: $grey;
  }
}
