.site-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  color: #fff;
  background: darken($grey, 20%);

  ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;

    li {
      padding: 1em;

      @include hover-only {
        transition: background 0.2s;
        cursor: pointer;

        &:hover {
          background: $darkergrey;
        }
      }
    }
  }
}

#copy {
  margin-left: 1em;
}
