form {
  margin: 0;
}

input,
select,
textarea {
  padding: 8px;
  background: white;
  color: $darkgrey;
  border: 1px solid lighten($grey, 30%);
  border-radius: 4px;
  font-size: 12px;
  font-family: Nunito;
  line-height: 16px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  transition: border 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    border: 1px solid $green;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 204, 153, 0.5);
  }
}

select {
  padding-right: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 1 8 8"><polygon points="0,0 4,6 8,0" fill="none" stroke="#333"/></svg>');
  background-repeat: no-repeat;
  background-position: top calc(50% + 2px) right 8px;
  background-size: 8px 8px;
}

input {
  appearance: none;
  -webkit-appearance: none;

  &[type='submit'],
  &[type='button'] {
    padding: 8px 16px;
    color: $green;
    background: transparent;
    border: 1px solid $green;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;

    &:hover {
      color: #fff;
      background: $green;
    }
  }
}

.back-btn {
  padding: 8px;
  color: #fff;
  background: darken($green, 20%);
  border-radius: 4px;

  &::before {
    margin-right: 8px;
    content: '⇠';
  }
}
