input,
select {
  padding: $inputpadding;
  background: white;
  color: $darkgrey;
  border: 1px solid $grey;
  border-radius: $inputrounding;
  font-size: $inputfontsize;
  font-family: $inputfontfamily;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  transition: border 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    border: 1px solid $blue;
  }

  &:focus {
    box-shadow: 0 0 0 2px $lightblue;
  }
}

select {
  padding-right: 24px;
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/242277-200.png);
  background-repeat: no-repeat;
  background-position: top 50% right 8px;
  background-size: 8px 8px;
}
