$logo-height: 2rem;

.site-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  border-bottom: 1px solid $grey;

  .logo {
    height: $logo-height;
  }

  ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: $logo-height * 2/3;
      line-height: $logo-height;
    }

    li + li {
      margin-left: 1em;
    }
  }
}
