%dropdown-arrow {
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}

.site-header {
  background: darken($green, 20%);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  nav a {
    padding: 0.75em;
    color: lighten($green, 40%);
    transition: background 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .logo {
    align-self: center;
    margin-left: 1em;

    @include xs-down {
      min-height: 46px;
      margin: 0;
      display: flex;
      background: darken($green, 22.5%);

      svg {
        margin: auto;
      }
    }

    svg {
      display: block;
      height: 20px;
      pointer-events: none;
    }
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    > li {
      position: relative;

      &:hover,
      &:focus {
        .sub-menu {
          display: flex;
          flex-flow: column;
          position: absolute;
          top: 100%;
          right: 0;
          background: darken($green, 25%);

          > li > a {
            width: 100%;
            white-space: nowrap;
          }
        }
      }

      > a {
        @extend %dropdown-arrow;
      }
    }
  }

  .sub-menu {
    display: none;
  }
}
