@import 'vars';

.login-form {
  padding: 16px;
  background: rgba(114, 114, 114, 0.75);
  border-radius: 4px;

  .title {
    padding: 8px 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  .logo,
  form {
    min-width: 250px;
    max-width: 300px;
  }

  form {
    margin-top: 0.8em;

    input,
    button {
      display: block;
    }

    input {
      width: 100%;
      font-size: 14px;
    }

    button {
      margin-top: 1.75em;
      width: 100%;
      cursor: pointer;
    }

    > *:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
