.message-container {
  width: 100%;
  margin: 1em auto;

  @include md-up {
    width: 80%;
  }

  @include xlg-up {
    width: 75%;
  }

  opacity: 0.85;

  div {
    padding: 0.6em;
    margin: 5px 0;
    color: white;
    text-align: center;

    @include md-up {
      margin: 5px;
      border-radius: 4px;
    }
  }
}
