// responsive-design variables
$xs-min: 1px;
$xs-max: 320px;

$sm-min: 321px;
$sm-max: 425px;

$md-min: 426px;
$md-max: 768px;

$lg-min: 769px;
$lg-max: 999999px;

// colors
$background: #fafafa;

$grey: #ccc;
$darkergrey: #444;
$darkgrey: #333;
$lightergrey: #aaa;
$lightgrey: #eee;

$highlight: hsl(165, 100%, 40%);

$green: hsl(165, 100%, 40%);
$lightgreen: hsl(165, 100%, 42.5%);
$darkgreen: hsl(165, 100%, 30%);

// fonts
$font: Nunito;
$font-weight: 300;
