// responsive-design variables
$xs-min: 1px;
$xs-max: 320px;

$sm-min: 321px;
$sm-max: 425px;

$md-min: 426px;
$md-max: 768px;

$lg-min: 769px;
$lg-max: 999999px;

// colors
$background: #fafafa;
$darkgrey: #333;
$grey: #ccc;
$highlight: orange;
$blue: hsl(195, 100%, 50%);
$lightblue: hsl(195, 100%, 80%);
$darkblue: hsl(195, 100%, 35%);
$green: hsl(165, 100%, 40%);

// input-tag-variables
$inputpadding: 8px;
$inputrounding: 4px;
$inputfontsize: 12px;
$inputfontfamily: Nunito;

// fonts
$font: Nunito;
$font-weight: 300;
