.weather {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  .title {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding-bottom: 16px;
    color: $blue;
    font-size: 32px;

    b {
      font-weight: bold;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include xs-only {
      grid-template-columns: 1fr;
    }

    @include sm-only {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .weather-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 8px;
    justify-items: center;

    @include xs-only {
      &:not(:last-child) {
        border-bottom: 1px solid $lightblue;
      }
    }

    @include sm-only {
      &:not(:nth-child(2n)) {
        border-right: 1px solid $lightblue;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-bottom: 1px solid $lightblue;
      }
    }

    @include md-up {
      &:not(:nth-child(3n)) {
        border-right: 1px solid $lightblue;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid $lightblue;
      }
    }
  }

  .date {
    grid-column: 1 / span 2;
  }

  .icon {
    font-size: 2em;
  }

  .icon,
  .temp {
    align-self: center;
  }

  .temp,
  .rain,
  .snow,
  .wind,
  .clouds {
    &::before {
      display: block;
      color: $grey;
      font-size: 0.75em;
      content: attr(data-description);
      font-weight: 100;
    }
  }

  .icon {
    color: $blue;
  }

  .temp {
    font-weight: bold;
  }
}
