$weather-itemborder: 1px solid $green;

.weather {
  > .weather-items {
    grid-gap: 1px;
  }

  .weather-item {
    justify-items: center;
    padding: 8px;
    text-align: center;
    background: rgba(240, 255, 240, 0.1);
  }

  .date {
    font-weight: 400;
  }

  .icon,
  .temp {
    align-self: center;
  }

  .temp,
  .rain,
  .snow,
  .wind,
  .clouds {
    &::before {
      display: block;
      color: $grey;
      font-size: 12px;
      content: attr(data-description);
      font-weight: 100;
    }
  }

  .icon img {
    height: 48px;
  }

  .temp {
    font-weight: 400;
  }
}
