@import 'vars';

.admin-location-list {
  border-radius: 4px;
  text-align: left;

  > div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px;
    background: $lightgrey;
    border-bottom: 1px solid $grey;

    > div {
      &:nth-of-type(7) {
        grid-column: 1 / span 4;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .tools {
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: right;
    user-select: none;

    * {
      cursor: pointer;
    }

    * + * {
      margin-left: 8px;
    }
  }

  .edit {
    color: $blue;
  }

  .trash {
    color: $red;
  }

  label {
    display: block;
    font-size: 14px;
    color: $grey;
  }

  input[type='button'] {
    margin-top: 16px;
  }
}
