@import 'vars';
@import 'forms';
@import 'header';
@import 'footer';
@import 'fonts';

* {
  box-sizing: border-box;
}

html {
  font-family: $font, sans-serif;
}

body {
  margin: 0;
}

#root > div {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: $background;
}

#root > div > main {
  flex: 1;
  padding: 16px;
  text-align: center;
}

h1 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  display: inline-block;
  color: $highlight;
  cursor: pointer;
}
