@import 'vars';
@import 'mixins';
@import 'col';
@import 'fonts';
@import 'forms';
@import 'header';
@import 'slider';
@import 'weather';
@import 'footer';

* {
  box-sizing: border-box;
}

html {
  font-family: $font, sans-serif;
  font-weight: $font-weight;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: $background;
}

main {
  flex: 1;
  text-align: center;

  @include xs-only {
    padding: 16px;
  }

  @include sm-only {
    padding: 16px;
  }

  @include md-only {
    padding: 16px 5vw;
  }

  @include lg-only {
    padding: 16px 15vw;
  }
}

h1 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  display: inline-block;
  color: $highlight;
  cursor: pointer;
}
