<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <style type="text/css">
      form {
        display: flex;
        flex-flow: column;
      }

      label, input[type="submit"] {
        margin-top: 16px;
      }
    </style>
</head>
<body>
  <h1>add location</h1>
  <form method="POST" action="/writeloc" target="_blank">
    <label>name</label>
    <input type="text" name="name"/>
    <label>keywords (line-seperated)</label>
    <textarea rows="10" name="keywords"></textarea>
    <label>lat</label>
    <input type="text" name="lat"/>
    <label>lon</label>
    <input type="text" name="lon"/>
    <label>image-urls (line-seperated)</label>
    <textarea rows="10" name="imgs"></textarea>
    <input type="submit" value="save"/>
  </form>
</body>
</html>
